parameters:
  level: 9
  paths:
    - src
    - cache-command.php
  scanDirectories:
    - vendor/wp-cli/wp-cli/php
  scanFiles:
    - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
  treatPhpDocTypesAsCertain: false
  strictRules:
    uselessCast: true
    closureUsesThis: true
    overwriteVariablesWithLoop: true
    matchingInheritedMethodNames: true
    numericOperandsInArithmeticOperators: true
    switchConditionsMatchingType: true
  ignoreErrors:
    - identifier: missingType.return
